extends ../layout/common
block content
  h1.text-center New Transfer

  form(action='/transfer/create',method='POST')
   input(type="hidden",name="_csrf",value=csrfToken)
   div(class="form-group")
    label(for="account" class='m-2') Account :
    input(type='text',name='accountId',class="form-control")
    label(for="amount" class='m-2') Amount :
    input(type='number',name='amount',class="form-control")
    br
    button(class="btn btn-outline-primary ml-4")  Transfer